.img {
    margin: 80px 0px 40px 0px;
}

.fname,
.lname,
.email,
.mobile,
.password,
.conpassword {
    margin: 20px;
    color: #969292;
    font-size: 16px;

}
/*
.password, .conpassword {
    margin-bottom: 40px;

} */

.in-text input {
    border-radius: 35px !important;
    border: 2px solid #C4C4C4 !important;
    background: #C4C4C4 !important;
    padding-left: 20px !important;
    width: 80%;
}

form button {
    padding: 10px;
    border-radius: 35px !important;
}

label {
    padding-left: 10px !important;
}

.error {
    color: red;
}

.submit {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    background: red;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

button:active {
    transform: translateY(2px);
}

.form-success {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #f80759;
}


.container{
    /*border: 3px solid rgba(187, 47, 47, 0.301);*/
    /*text-align: center;*/
    /*background-image: url('/public/img/bg-01.jpg');*/
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: soft-light;

}

.avatar-one img{
    width: 150px;
    height: 150px;
}

.avatar img {
    width: 250px;
    height: 250px;
}

/* .avatar {

    width: 120px;
    height: 100px;
    left: 406px;
    top: 457px;
} */
