.hero-main {
    background-image: url("/public/img/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: soft-light;
    background-size: cover;
}

.hero-main button {
    background: #1D66D2;
    color: #ffffff;
    border-radius: 35px;
    padding: 5px 20px;
}

.hero-main .left-side-c {
    width: 500px;
    height: 100vh;
}

@media only screen and (orientation: portrait) {
    .hero-main .left-side-c {
        display: none;
    }
}

.hero-main .row-space {
    height: 60px;
}